---
import { Icon } from 'astro-icon/components';
import Content from './Content.astro';
import { SITE } from '~/utils/config';
import { getHomePermalink } from '~/utils/permalinks';
import Button from '../ui/Button.astro';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links?: Array<Links>;
  secondaryLinks?: Array<Link>;
  socialLinks?: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer
  class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose py-8']}
>
  <div class="md:flex px-3 md:px-6 mx-auto w-full max-w-7xl md:items-center md:justify-between py-6 md:py-8">
    <div class="h-32 my-5 md:my-0 md:mr-8">
      <img
        class="object-cover mx-auto md:mx-0 aspect-square object-center rounded-lg h-full"
        src="https://i.pinimg.com/564x/2c/15/22/2c15222f332f689b4cf89dd886af7d1d.jpg"
        alt=""
      />
    </div>
    <div class="space-y-2 md:basis-2/3 text-center md:text-start">
      <h3 class="text-xl font-semibold">afifjamhari99@gmail.com</h3>
      <div class="text-sm w-full md:mr-4 mr-auto ml-auto md:ml-0 dark:text-slate-400 max-w-[50%] text-muted">
        <p>
          Simplicity is the key to great user experiences. Let me help your company design a simpler
        </p>
        <!-- <p>All rights reserved.</p> -->
        <!-- <Fragment set:html={footNote} /> -->
      </div>
    </div>
    <div class="text-center space-y-5">
      <Button variant="primary" text="Let's Work Together" icon="tabler:click" />
      <ul class="flex mb-4 mx-auto md:mb-0 justify-center">
        {
          socialLinks.map(({ ariaLabel, href, text, icon }) => (
            <li>
              <a
                class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm p-2.5 inline-flex items-center"
                aria-label={ariaLabel}
                href={href}
              >
                {icon && <Icon name={icon} class="w-5 h-5" />}
                <Fragment set:html={text} />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</footer>
