---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import { Icon } from 'astro-icon/components';
import { projects } from '~/navigation.js';
import ListItem from '~/components/blog/ListItem.astro';

const metadata = {
  title: 'Afif Jamhari | Fullstack Developer',
};
---

<Layout metadata={metadata}>
  <Hero id="hero">
    <!-- actions={[{ variant: 'primary', target: '_blank', text: "Let's Work Together!", href: '/' }]} -->
    <Fragment slot="title">
      <span>Afif Jamhari,</span>
      <br />
      Full Stack Developer
    </Fragment>
    <Fragment slot="subtitle">
      <div class="flex mx-auto text-muted w-fit">
        <Icon name="tabler:point-filled" class="w-7 h-7 rtl:mr-0 rtl:ml-2 text-accent" />
        <span class="my-auto"> Currently Available</span>
      </div>
    </Fragment>
  </Hero>

  {
    projects.map(({ title, subtitle, href, image }, index) => (
      <Content isReversed={index % 2 == 0 ? true : false} isAfterContent={true} image={image}>
        <Fragment slot="content">
          <a href={href} class="hover:underline decoration-4 underline-offset-4">
            <h3 class="lg:text-3xl font-bold dark:text-white text-3xl md:text-2xl mb-2 ">{title}</h3>
          </a>
          <p class="text-muted">{subtitle}</p>
        </Fragment>
      </Content>
    ))
  }

  {
    /*
  <!-- Testimonials Widget *********** -->

  <!-- <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
    ]}
  /> -->

  <!-- BlogLatestPost Widget **************** -->

<!--   <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
  >
  </BlogLatestPosts> -->
  <!-- 
  <CallToAction
    title="Say Hi!"
    actions={[
      {
        variant: 'primary',
        text: 'Get In Touch',
        href: '/',
      },
    ]}
  >
    <Fragment slot="subtitle">
      <p class="text-muted max-w-96 mx-auto">
        I find inspiration in the world around me, whether through the pages of a captivating novel, the intricate
        details of typography, or the vibrant hues of nature during my outdoor escapades.
      </p>
    </Fragment>
  </CallToAction> -->
  */
  }
</Layout>
